Demo 4 : {{demoName}}
<br/><br/>
<a target="_blank" href="adrbook/app/index.html">D&eacute;mo</a> de Thierry Lau (d&eacute;veloppeur Sfeir)
et de S&eacute;bastien Let&eacute;li&eacute; (Directeur technique Improve Sant&eacute;)
<br/>
- Sa d&eacute;mo sur github : <a href="https://github.com/lauterry/AngularAddressBook" target="_blank">https://github.com/lauterry/AngularAddressBook</a>
<br/>
- Google Plus <a target="_blank" href="http://gplus.to/lauthierry">gplus.to/lauthierry</a>
<br/>
- Google Plus <a target="_blank" href="http://gplus.to/sebmade">gplus.to/sebmade</a>
<br/>
- Leur pr&eacute;sentation dans la revue <a target="_blank" href="adrbook/AngularJS.pdf">Programmez</a>.